 *{
    margin :0;
    padding: 0;
    box-sizing: border-box;
 }
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    padding-top: 50px;
    background-color: #f5f1ee;
    background: url("../images/developer.png"),url("../images/header_bg.png"), #FFF8F3;
    background-repeat:no-repeat ;
    background-position: top left,bottom right;
     
}

.logo h2{
    font-size: 30px;

}
.color-orange{
    color: #FD6E0A;
}

 nav{
    width : 71% ;
    max-width:1494px ; 
    border: 0px red;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
  

}

nav .menu{
    display: flex;
     list-style-type: none;
    gap: 50px;
    align-items: center;
    text-decoration: none;
}

ul li a {
  text-decoration: none;
  color: black;
}
 
.btn{

    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px; 
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
 #banner{
       
       margin: 47px 38px 230px;
       display: flex;
       justify-content: space-between;
       align-items: center;
 }
 #banner .banner-content h2{

    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
     
 }
 #banner .banner-content h1{

    font-size: 85px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #181818;
    margin-bottom: 20ox;
     
 }

 #banner .banner-content{
 max-width: 585px;
}
 #banner .banner-content p{

    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
     
 }

 #banner .banner-image img{
max-width: 585px;


 }
 .section-heading{
max-width: 827px;
text-align: center;

 }
 #about{
    padding-top:130px;
 }

 #about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

 }
 .section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    
 }
 .section-heading h2{
       font-size: 35px;
       margin bottom: 30px

 }
 .section-heading p{

    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color:;
 }
  #about .about-container .about-info{
       display: flex;
       justify-content: space-around;

 }
 .skills {
    padding-top: 130px;
 }
 
 .skills-container{

 width: 71%;
  max-width: 1140px;
  margin: 0 auto;

}

 .skill-box{

display: flex;
justify-content: space-around;

}
.skill-box .skill-card{

padding: 30px;
max-width: 267px;
text-align: center;
box-shadow: 0 6px 50px 0 #00000042;
}

.skill-card-img{

    max-width: 44px;
    margin-bottom: 30px;
}

.skill-card h3{
     font-size: 20px;
     color: #181818;
     margin-bottom: 20px;
}

.skill-card p{
font-size: 16px;
    margin-bottom: 30px;
    line-height: 28px;
    color:#757575;

}

.resume{

   padding-top: 130px;

}
#resume .resume-container
   {
width: 71%;
max-width: 1140px;
margin: 113px auto 0;
display: flex;
gap:24px
   }
   .resume-container .section-title{
      color: #474747;
      font-size: 30px;
      margin-bottom: 30px;
   }
.resume-card{
   max-width: 511px;
   margin-right: 47px;
    
}
 .resume-card .card-title{
font-size: 25px;
font-weight: bold;
margin-bottom: 10px;
color:#474747
}
.resume-card .card-info{
font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
color: #474747;
}
.resume-card .card-text{
font-size: 16px;
line-height:28px;
color: #757575
}

.resume-container hr{
   margin: 30px 0;
}


.text-center{

   text-align: center;
}


footer{
 margin-top:  130px;
 background-color: #FFF8F3;
 padding: 130px 0;


}

footer .footer-container{
width: 71%;
max-width: 1494px;
margin: 0 auto ;
display: flex;
gap: 116px;

}

.footer-container .social{
max-width: 562px;


}

.footer-container h2{
 color: #181818;
 font-size: 35px;


}
.footer-container .social p{
color: #474747;
line-height: 28px;
font-size: 16px;
margin-bottom: 30px;


}
.footer-container .icons{
  margin-right: 240px;

}

.footer-container form input[type="text"], .footer-container form textarea{

   width: 461px;
   padding: 18px 31px;
   margin-bottom: 24px;
   border: none;
   border-radius: 5px;
   color: #757575;
}
